<div class="screen-header">
  <div class="user-name">
    <a href="#">Tom</a>
  </div>
  <div class="button">
    <a href="#">ログアウト</a>
  </div>
</div>

<div class="time">
  <div class="now-time">
    <p> 21:00 </p>
  </div>
</div>

<div class="work">
  <div class="total-time">
    <p> 合計残業時間　◯◯時間○○分 </p>
  </div>
  <div class="continuous-work">
    <p> ◯連勤 </p>
  </div>
</div>

<div class="buttons">
  <div class="button-below">
    <div class="button-name">
      <a href="#">出勤</a>
    </div>
  </div>
  <div class="button-below">
    <div class="button-name">
      <a href="#">退勤</a>
    </div>
  </div>
</div>