<% @users.each do |user|%>
  <div class="users-show">
    <div class="users-name">
      <%= user.name %>
    </div>
    <div class="total-time">
      <%= "残業合計時間　123時間"%>
    </div>
  </div>
<% end %>
